.topprofile {
    margin: 0 auto;
    display:flex;
    padding: 15px;
    background-repeat: no-repeat;/* фон не повторяется */
    background-size: cover; /* фоновая картинка на весь экран */
    background-color: rgba(9, 8, 8, 0.82);
    margin-top: 0%;
    background-attachment: fixed;
    background-position: center;

}

.DisplayUserName {
    font-size: 24px;
    font-family: "Arial";
    color: rgb(243, 232, 232);
    font-weight: bold;
    line-height: 1.2;

}
.DisplayUserPhotoFix>img{

    height: 150px;
    width: 150px;
    background-position: center;
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 100%; /* Высота фотографии равна высоте элемента */
    box-shadow: 0 0 14px 8px rgba(75, 185, 220, 0.9);
    position:relative;
    z-index: 1;
    opacity: 0;
}
.DisplayUserPhotoFix{
    height: 150px;
    width: 150px;
    background-position: center;
    border-radius: 50%; /* Превращаем в круг */
    background-size: auto 100%; /* Высота фотографии равна высоте элемента */
    box-shadow: 0 0 14px 8px rgba(75, 185, 220, 0.9);
    position:relative;
    z-index: 1;
}
.DisplayUserPhoto{
    margin-top: 25px;
}
.ProfileAuthorizitedInProfileAvatarBlockLevel{
    font-family: "Arial";
    color:lawngreen;
    font-size: 24px;
    font-weight: bold;
    width: 55px;
    margin-top: -30px;
    margin-left: 80px;
    height: 31px;
    position:relative;
    z-index: 2;
    border-width: 3.79px;
    border-color: rgb(192, 192, 192);
    border-style: solid;
    border-radius: 20px;
    background-color: rgb(9, 8, 8);
    box-shadow: 0px 4px 0px 0px rgba(16, 15, 15, 0.004);



}
.ProfileAuthorizitedInProfileAvatarBlockLevelLabel{


    font-family: "Arial";
    color: rgb(243, 232, 232);
    font-weight: bold;
    margin-left: 67px;
    position: relative;
    z-index: 2;
    font-size: 12px;

}
.aboutbtn{
    margin:10px 0;
    cursor:pointer;
    font-size: 24px;
    font-family: "Arial";
    color: rgb(117, 209, 37);
    font-weight: bold;
    line-height: 1.2;

}
.usrdesc{
    margin-bottom: 2%;
    width: 100%;
    word-wrap: break-word;
}
.ButtonMod{
    border-width: 3.15px;
    border-color: rgb(40, 164, 201);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(60, 52, 52);
    color:lightgreen;
    height: 25px !important;
    width: 25px !important;
    font-size: 20px;
}
.DisplayUserCity{
    font-size: 24px;
    font-family: "Arial";
    color: rgb(255, 255, 0);
    font-weight: bold;
    line-height: 1.2;

}
.profiletoptext{
    display: flex;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
}

.profileleftContent{
    display: flex;
    /*justify-content: center;*/
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 4%;
    width: 26%;
}
.regestrationDate{
    margin-top: 10px;
}
.EditProfileButton{
    font-size: 14px;
    font-family: "Arial";
    color: rgb(245, 245, 237);
    font-weight: bold;
    line-height: 1.2;


}
.ButtonModEdit{
    border-width: 3.15px;
    border-color: rgb(40, 164, 201);
    border-style: solid;
    border-radius: 50%;

    height: 30px !important;
    width: 30px !important;
    font-size: 60px;
}
.addFriendButtoN {
    height: 40px;
    font-size: 1.5em;
    border-width: 4.43px;
    border-color: rgb(40, 164, 201);
    border-style: solid;
    background-color: #75d125;
    width: 215px;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
}

.addFriendButtoN>div{
    position: relative;
    display: inline-block;
    top: -11px;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;

}
.AddFriendICon{

    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    border-width: 3.15px;
    border-style: solid;
    border-color: #28a4c9;
    align-self: center;
    position: relative;
    color:#75d125;
    background-color: #3c3434;
    justify-content: center;
    transition: 0.5s;
    display: inline-block;
    margin-left: -5px;
    margin-top: -4px;
}
.AddFriendICon:hover{
    color: gray;
}
.AddToFriendButton{

}
.heightProfZ{
    height: 320px;
}
.contentProfile{
    height: calc(100% - 50px);
    background-color: #3c3434;
}
.OnService{
    font-weight: bold;
    background-color: #3c3434;
    margin: 0 auto;
    font-size: 140%;
    text-align: center;
    margin-top: 50px;
    font-family: "Arial";
    color: rgb(243, 232, 232);
}
@media screen and (max-width: 768px) {
    .DisplayUserCity{font-size: 11px;}
    .aboutbtn{font-size: 15px;}
    .ButtonMod{height: 17px !important;
        width: 17px !important;
        font-size: 14px;}
    .ButtonModEdit{height: 25px !important;
        width: 25px !important;}
    .DisplayUserName{font-size:16px;}
    .addFriendButtoN{width:40px;margin-left: 100%;}
    .addFriendButtoN>div{display: none}
}

.IconOfMissingAlerts{
    border-width: 1.15px;
    border-color: rgb(40, 164, 201);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(60, 52, 52);
    color: lightgreen;
    height: 20px !important;
    width: 20px !important;
    font-size: 15px;
    margin-top: -8px;
    margin-left: 7px;
}
.tabs {
    font: 300 100% 'Helvetica Neue', Helvetica, Arial;
    background-color: rgba(9, 8, 8, 0.82);
    width: 100%;
}

.tabs>ul>li {
    display: inline;
    text-align: center;
}
.tabs>ul>hr{
    border: none;
    transition: .3s ease-in-out;
    border-radius: 10px;
    margin: 0;
    background-color: rgb(117, 209, 37);
}
.tabsssa1 {
    cursor: pointer;
    display: inline-block;
    width: 33%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(245, 245, 237);
    font-weight: bold;
    line-height: 1.2;
    display: inline-flex;
    justify-content: center;
}
.tabsssa2 {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial";
    color: rgb(245, 245, 237);
    font-weight: bold;
    line-height: 1.2;
}
.tabshr1{
    width: 25%;
    margin-left:  4% !important;
}
.tabshr2{
    width: 36%;
    margin-left:  7% !important;
}

.one:hover ~ hr, .onehr
{
    margin-left: 4%  !important;
}

.two:hover ~ hr, .twohr {
    margin-left: 37%  !important;
}

.three:hover ~ hr, .threehr {
    margin-left: 70%  !important;
}


.one2:hover ~ hr, .onehr2
{
    margin-left: 7%  !important;
}

.two2:hover ~ hr, .twohr2 {
    margin-left: 57%  !important;
}
.bottomprofile{
    
}